<div class="render">
	<div class="site_container">
		<h2 class="text-left">About Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus vehicula gravida. Nunc faucibus sapien a risus tempus commodo. Duis a dictum massa, et cursus elit. Pellentesque feugiat, magna a mattis semper, urna neque tristique orci, sit amet tincidunt odio odio at enim. In ultricies lectus risus, et rhoncus libero congue at. Fusce faucibus eros at risus mattis sodales. Donec ac turpis in dolor scelerisque viverra vitae in nunc. Ut ac arcu sed libero fringilla auctor. Suspendisse luctus velit vitae ligula suscipit, porta egestas arcu elementum. Cras faucibus metus at nisl efficitur tempor. Integer accumsan sodales libero, vitae dignissim eros porta at. Nullam semper vulputate luctus. Mauris quis ipsum odio. Sed sit amet placerat tortor. Ut ut quam nulla. In hac habitasse platea dictumst.</p>
             <p>Nulla eget neque non massa ullamcorper iaculis. Curabitur blandit magna et nibh mattis, et dictum leo rutrum. Nulla facilisi. Etiam tincidunt metus vehicula, aliquet felis molestie, faucibus justo. Morbi rhoncus luctus ante. Phasellus tincidunt nisi magna, id lobortis eros luctus vitae. In placerat ullamcorper urna in egestas. Cras nec luctus ipsum, eget hendrerit mi. Nulla bibendum eros id ex euismod, in blandit enim scelerisque. Donec in varius felis, ac posuere nisi. Phasellus dapibus dolor lacus, vel venenatis turpis egestas et. Quisque suscipit tincidunt arcu imperdiet malesuada. Proin vestibulum quam sed dui molestie, quis hendrerit urna hendrerit. Morbi blandit sollicitudin convallis. Suspendisse potenti. Quisque ligula sem, condimentum ac congue porta, aliquam sed augue.</p>                
             <p>Cras efficitur diam sit amet eros sollicitudin mattis. Aenean posuere accumsan malesuada. Morbi in vehicula turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit pharetra magna quis suscipit. Proin feugiat velit nec mattis pretium. Aliquam sollicitudin mollis magna, luctus tempus nunc viverra non. Sed urna est, rutrum et eleifend vel, mattis eu neque. Cras nec fermentum sapien. Aliquam erat volutpat. Aliquam erat volutpat. Praesent ultrices facilisis augue, quis ultricies velit malesuada vel. Ut vel dignissim arcu. Sed nec facilisis sem. Sed hendrerit varius magna quis suscipit. </p>

                      <ul class="aboutus_list">
                      
                       <li><%=image_tag 'aboutus_imgs_05.png', :class => 'res_images' %></li>
                       <li><%=image_tag 'aboutus_imgs_07.png', :class => 'res_images' %></li>
                       <li><%=image_tag 'aboutus_imgs_09.png', :class => 'res_images' %></li>
                      
                      
                      </ul>


                 <p>Morbi a commodo eros. Phasellus ornare arcu ante, et malesuada mi ullamcorper vitae. Mauris suscipit quis felis nec cursus. Nunc vitae urna neque. Sed auctor erat non tincidunt imperdiet. Curabitur eu sapien quis justo aliquam maximus. Praesent lacinia tincidunt nisi.</p>
                 <p>Maecenas sit amet justo porta, volutpat sapien ut, pulvinar mi. Aenean non mi ullamcorper lacus ornare blandit. Sed facilisis venenatis efficitur. Nam vulputate lobortis sagittis. Aenean eget elementum diam. Donec imperdiet bibendum velit, aliquet mollis augue gravida ac. Nulla a dui non purus condimentum mollis vitae et nunc. Duis aliquam, odio non iaculis gravida, tellus erat volutpat massa, et bibendum nulla nunc vel elit. Cras eget tincidunt turpis. Praesent a eleifend orci, ut vehicula tellus. Donec hendrerit sed est in iaculis. Integer sed mi dictum, scelerisque justo id, accumsan purus. Praesent bibendum suscipit fermentum. Mauris ullamcorper arcu sit amet urna porta pulvinar. </p>
                 <p>Nulla eget neque non massa ullamcorper iaculis. Curabitur blandit magna et nibh mattis, et dictum leo rutrum. Nulla facilisi. Etiam tincidunt metus vehicula, aliquet felis molestie, faucibus justo. Morbi rhoncus luctus ante. Phasellus tincidunt nisi magna, id lobortis eros luctus vitae. In placerat ullamcorper urna in egestas. Cras nec luctus ipsum, eget hendrerit mi. Nulla bibendum eros id ex euismod, in blandit enim scelerisque. Donec in varius felis, ac posuere nisi. Phasellus dapibus dolor lacus, vel venenatis turpis egestas et. Quisque suscipit tincidunt arcu imperdiet malesuada. Proin vestibulum quam sed dui molestie, quis hendrerit urna hendrerit. Morbi blandit sollicitudin convallis. Suspendisse potenti. Quisque ligula sem, condimentum ac congue porta, aliquam sed augue.</p>
                 <p>&nbsp;</p>

	</div>
</div>