<header>
  <div class="site_container">
       <div class="header__logo">
        <h1>Prescription Saving Solutions</h1>
        <h4>Affordable healthcare is a basic human right</h4>
       </div>
       <div class="header__right">
           <%= render :partial => "layouts/localization" %>
           <ul class="header--login">
              <li><a href="#">Sign Up</a></li>
              <li><%=link_to "Sign in", signin_path %></li>

           </ul>
           <ul class="header--info">
             <li>
              <a href="#">000-000-0000</a>
             </li>
              <li>
              <a href="#">info@prescription.com</a>
             </li>
           </ul>
        </div>
  </div>
</header>
<script>

</script>